<div id="home-affiliate" class="row">
	<div class="small-12 columns">
		<!--  Explanatory video "How to sort"-->
		<div class="row expanded">
			<div class="small-12">
				<a href="http://placehold.it"><img src="http://placehold.it/1440x500"></a>
			</div>
		</div>
		<div id="info-can-do" class="row upper-pad expanded">
			<div id="upload" class="box small-12 medium-4 columns">
				<div class="row text-center upper-space">
					<i class="fa fa-hand-o-down fa-3x" aria-hidden="true"></i>
				</div>
				<div class="row upper-space text-center">
					<h5><b>Join Us</b></h5>
				</div>
				<div class="row">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
				</div>
				<div class="row text-center">
					<%= link_to "Register", new_affiliate_registration_path, class:"button small hollow" %>
					<%= link_to "Log-In", new_affiliate_session_path, class:"button small hollow" %>
				</div>
			</div>
			<div id="invite" class="box small-12 medium-4 columns">
				<div class="row upper-space text-center">
					<i class="fa fa-users fa-3x" aria-hidden="true"></i>
				</div>
				<div class="row upper-space text-center">
					<h5><b>Invite Users</b></h5>
				</div>
				<div class="row">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
				</div>
			</div>
			<div id="money" class="box small-12 medium-4 columns">
				<div class="row upper-space text-center">
					<i class="fa fa-money fa-3x" aria-hidden="true"></i>
				</div>
				<div class="row upper-space text-center">
					<h5><b>Improve Income</b></h5>
				</div>
				<div class="row">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
				</div>
			</div>
		</div>
	</div>
</div>
