<div class="upper-space row">
	<div class="small-12 columns text-center">
		<div class="under-space"><h3>Welcome to the homepage</h3></div>
		<h5>Click the button to start sorting images</h5>
	</div>
</div>
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "Sort Now", photos_path, class:"button large"  %>
	</div>
</div>
