.upper-space{
	margin-top:1em;
}

.under-space{
	margin-bottom:1em;
}

.upper-pad{
	padding-top:1em;
}

.under-pad{
	padding-bottom:1em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle{
	border-radius: 50%;
	border:thin solid black;
	height: 5em;
	width: 5em;
}

.highlight{
	border:thick solid #4286f4;
}

img{
	border:thin solid black;
}
