.upper-space{
	margin-top:1em;
}

.under-space{
	margin-bottom:1em;
}

.upper-pad{
	padding-top:1em;
}

.under-pad{
	padding-bottom:1em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cash{
	color:green;
}

.delete{
	color:red;
	background-color:white;
}

.delete:hover{
	background-color:red;
	color:white;
}

.circle{
	border-radius: 50%;
	border:thin solid black;
	height: 5em;
	width: 5em;
}

.highlight{
	border:thick solid #4286f4;
}

.button{
	min-width:5em;
}

.hidden{
	display: none;
}

img{
	border:thin solid black;
}
#error_explanation, .field_with_errors{
	width:100%;
}

.field_with_errors{
	[type='password'],[type='email']{
		margin-bottom:0;
	}
}

.soft-warning{

	color:#a6a6a6;

	p{
		margin-bottom:2em;
	}
}

.button.pay{
	background-color:white;
	border-color:green;
	color:green;
}

.button.pay:hover{
	background-color:green;
	color:white;
}

#batch-container{
	.button{
		margin-right:1em;
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	#remove-photos{
		#batch-container{
			.button{
				font-size:0.8em;
			}
		}
	}
}
