.button{
	border:thin solid;
	border-radius: 20px;
}

.button.alert{
	background-color:white;
	border-color:#cc4b37;
	color:#cc4b37;
}

.button[href="/users/auth/facebook"]{
	background-color:#3B5998;
}

.button[href="/users/auth/google_oauth2"]{
	background-color:#DB4437;
}

.button[href="/users/auth/instagram"]{
	background-color:#C70297;
}

.button[href="/users/auth/facebook"],
		.button[href="/users/auth/google_oauth2"],
			.button[href="/users/auth/instagram"]{
				p{
					margin:0;
					display:inline;
				}

				.fa{
					border-right:thin solid;
				}
}


.horizontal-lines {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.horizontal-lines:before, .horizontal-lines:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 45%;
    height: 1px;
    content: '\a0';
    background-color: gray;
}
.horizontal-lines:before {
    margin-left: -50%;
    text-align: right;
}
.horizontal-lines:after{
    right:0%;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.button[href="/users/auth/facebook"],
		.button[href="/users/auth/google_oauth2"],
			.button[href="/users/auth/instagram"]{
		width:90%;

		p{
			margin-left:1em;
		}

		.fa{
			padding-right:1em;
		}
	}

	.button[href="/users/auth/google_oauth2"]{
		.fa{
			padding-right: 0.9em;
   			margin-right: 2em;
		}

		p{
			margin-left:0;
		}
	}

	.horizontal-lines:after{
            right:-4%;
        }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.button[href="/users/auth/facebook"],
		.button[href="/users/auth/google_oauth2"],
			.button[href="/users/auth/instagram"]{
		width:60%;

		p{
			margin-left:2em;
		}

		.fa{
			padding-right:2em;
		}
	}

	.button[href="/users/auth/google_oauth2"]{
		.fa{
			padding-right: 1.7em;
    		margin-right: 2.6em;
		}

		p{
			margin-left:0;
		}
	}

	.button[href="/users/auth/instagram"]{
		.fa{
			padding-right: 1.7em;
    		margin-right: -0.5em;
		}
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
    .button[href="/users/auth/facebook"],
		.button[href="/users/auth/google_oauth2"],
			.button[href="/users/auth/instagram"]{
		width:37%;

		p{
			margin-left:2em;
		}

		.fa{
			padding-right:1em;
		}
	}

	.button[href="/users/auth/google_oauth2"]{
		.fa{
   			margin-left: -1.0em;
		}
	}

	.button[href="/users/auth/instagram"]{
		.fa{
			padding-right: 1.3em;
    		margin-left: 0.3em;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.button[href="/users/auth/facebook"],
			.button[href="/users/auth/google_oauth2"],
				.button[href="/users/auth/instagram"]{
					width:40%;
	}
}
