#profile-show{
	.tabs-title{
		text-align:center;
		border:thin solid #f2f2f2;
	}
	.tabs-panel{
		margin:0;

		.follow-container{
			height:5em;
			border:thin solid gray;
			border-radius:10px;
			padding:1em;
			margin-bottom:1em;
			background-color:white;
			display:inline-block;
			float:left;

			img.circle{
				width:3em;
				height:3em;
				margin-right:1em;
			}

			a{
				float:left;
				margin-top:0;
			}



			h6{
				display:inline;
				font-size:1em;
			}

			.button.follow{
				float:right;
				margin-top:0;
				margin-bottom:0;
				font-size:1em;
			}

			.name{
				color:gray;
			}
		}

		#photos-container{
			.ribbon-container{
				div.ribbon.free{
					position: relative;
				    background-color: #4286F4;
				    color: white;
				    padding: 0.5em;
				    top: 27px;
				    left: 0px;
				    font-size: 0.7em;
				    display:inline-block;
				}
				div.ribbon.paid{
				    position: relative;
				    background-color: green;
				    color: white;
				    padding: 0em 1.5em;
				    top: 18px;
				    left: 0px;
				    font-size: 0.7em;
				    display: inline-block;
				}
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	#profile-show{
		.tabs-title{
			width:33%;
		}

		.tabs-panel{
			padding-left:0;
			padding-right:0;

			.follow-container{
				width:100%;
				
				.button.follow{
					font-size:0.8em;
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#profile-show{
		.tabs-title{
			width:25%;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#profile-show{
		.tabs-panel{
			.follow-container{
				width:45%;
				margin-left:2.5%;
				margin-right:2.5%;
			}
		}
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	#profile-show{
		.tabs-panel{
			.follow-container{
				width:45%;
				margin-left:2.5%;
				margin-right:2.5%;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}