footer{
	background-color:#4286F4;
	color:white;

	span{
		font-size:0.8em;
	}

	ul{
		margin:0;
		li{
			display:inline-block;
			margin-right:1em;

			a{
				color:white;
			}

			a:hover{
				color:white;
			}
		}
	}
}
