header{
	background-color:#4286F4;
	padding:1em;

	.fa{
		color:blue;
	}

	#logo-container{
		margin-top:0.7em;

		strong{
			font-size:1.5em;

			a{
				color:white;
			}

			a:hover{
				color:white;
			}
		}
	}

	.search-container{
		margin-top:0.8em;
	}

	.input-group{
		margin-bottom:0;

		button{
			border:thin solid lightgray;
			padding:0.5em 1em;
			background-color:#FEFEFE;
		}

		button:hover{
			cursor:pointer;
		}
	}
}



///////// MEDIA QUERIES ////////

/* Small only */
@media screen and (max-width: 39.9375em) {
	header{
		.button.affiliate{
			margin-top:1em;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
}
