header{
	color:white;

	.menu-icon{
		color:white;
	}

	.dropdown{
		.fa-ellipsis-h{
			color:white;
			font-size:3em;
			padding-left:0.5em;
			padding-right:0.5em;
		}

		.fa-ellipsis-h:hover{
			cursor:pointer;
			background-color:darken(#4286f4, 10%);
		}
	}

	#menu{
		.dropdown-pane{
			border:thin solid gray;
		}

		span{
			color:black;
			font-size:0.8em;
		}
	}

	.fa{
		color:blue;
	}	

	.top-bar-right{
		ul{
			li{
				padding:0 1em;
			}
		}
	}

	strong{
		font-size:1.5em;
	}
}

///////// MEDIA QUERIES ////////

/* Small only */
@media screen and (max-width: 39.9375em) {
	header{
		.top-bar-right, .top-bar-left{
			ul{
				li{
					padding:0.5em 1.5em;
					width:12em;

					.button{
						width:100%;
					}
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	header{
		.top-bar-title{
			padding-top:0.7rem;
	}
	}
}
