header{
	background-color:#4286F4;
	padding:1em;

	.fa{
		color:blue;
	}

	#upload-button{
		margin-bottom:0;
		margin-right:2em;
	}

	#logo-container{
		margin-top:0.7em;

		strong{
			font-size:1.5em;

			a{
				color:white;
			}

			a:hover{
				color:white;
			}
		}
	}
}

///////// MEDIA QUERIES ////////

/* Small only */
@media screen and (max-width: 39.9375em) {
	header{
		#upload-button{
			margin-top:0.2em;
			margin-right:1em;
			font-size:1em;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	header{
		#upload-button{
			font-size:1.1em;
		}
	}
}
