#home-index{

	#info-what-is{
		h4{
			margin-bottom:2em;
		}
	}

	#info-can-do{

		.button.hollow{
			background-color:white;
		}

		background-color:#e6f2ff;
		color:gray;

		h5{
			color:black;
		}

		.fa{
			color:blue;
		}

		.fa-camera-retro{
			font-size:3em;
		}

		.fa-square-o, .fa-child{
			font-size:2.5em;
		}
	}
}

#home-affiliate{
	.fa-money{
		color:green;
	}

	.fa-hand-o-down{
		color:blue;
	}

	.fa-users{
		color:cornflowerblue;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	#home-index,#home-affiliate{
		
		.box{
			border-bottom:thin solid lightgray;
			margin-bottom:1em;
		}
	}
}