<div id="photo-edit-section" class="row">
    <div id="photo-editor" class="upper-space callout small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">
        <div class="row">
            <div id="canvas" class="under-space drawing">
                <div id="inner-canvas">
                    <span id="source-url" class="hidden"><%= @photo.file.url(:large) %></span><img id="edit-my-sections">
                    
                </div>
            </div>
        </div>
        <div class="row under-space">
            <a href="#" id="pencil"><i class="fa fa-pencil-square-o" aria-hidden="true">Create</i></a>
            <a href="#" id="eraser"><i class="fa fa-eraser" aria-hidden="true">Remove</i></a>
        </div>
        <div class="row text-center">
            <%= button_tag "Save Sections", class:"button", id:"save-sections", data:{ photo_id: @photo.id } %>
        </div>
    </div>
    <div class="row">
        <div id="photo-description" class="small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">
            <p><%= @photo.description %></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    //This adds support for async load from Amazon S3 on production/staging
    imageToSort = document.getElementById('edit-my-sections');
    $(imageToSort).attr('crossOrigin', 'anonymous');
    $(imageToSort).attr("src", $("#source-url").text());
    $(imageToSort).one('load', function() {
    });
</script>
