<div class="upper-space row">
	<div class="row">
		<div id="photo-editor" class="callout small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">
			<h4>Edit Photo</h4>
			<div class="row">
				<div id="canvas" class="under-space drawing">
					<div id="inner-canvas">
						<%= image_tag(@photo.file.url(:medium), id:"edit-my-sections")%>
					</div>
				</div>
			</div>
			<div class="row under-space">
				<a href="#" id="pencil">Pencil</a>
				<a href="#" id="eraser">Eraser</a>
			</div>
			<%= render 'form', photo: @photo %>
			<%= link_to 'Back', profile_show_path, class: "hollow button" %>
		</div>
	</div>
</div>
