<div id="sorting-principal" class="row">
    <div class="row upper-space under-pad">
        <div id="user-photo-container" class="small-4 medium-2 medium-push-1 medium-text-center large-push-2 columns">

        </div>
        <div id="user-name-container" class="small-8 small-pull-1 medium-pull-1 columns">

        </div>
    </div>
    <div class="row">
        <div id="photo-container" class="small-12 columns text-center">
            
        </div>
    </div>  
    <div class="row">
        <div id="photo-description" class="small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">

        </div>
    </div>
    <div class="row">
        <div id="like-container">
            
        </div>
    </div>
    <div class="small-12 columns text-center">
        <%= button_tag "Next", class:"button", id:"next-sort" %>
    </div>
    <div class="row under-space">
        <div class="small-12 columns text-center">
            <%= button_tag("Report", class: "button alert") %>
        </div>
    </div>
</div>