<div id="pay-photos" class="upper-pad under-pad row">
	<div class="row">
		<div class="small-12 text-center columns">
			<%= button_tag('Pay for Selected Images', class:"button pay", id: "pay-multiple-photos") %>
		</div>
	</div>
	<div class="gallery row">
		<% @photos.each do |photo| %>
			<% if photo.state == 'free' %>
				<div class="small-4 medium-3 large-2 end columns">
					<%= image_tag(photo.file.url(:medium),id: photo.id) %>
					<%= check_box_tag('pay_photo', photo.id , false) %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
