<div id="remove-photos" class="upper-pad under-pad row">
	<div class="row">
		<div id="batch-container" class="small-12 text-center columns">
			<%= button_tag('Remove Images', class:"button delete", id: "destroy-photos") %>
			<%= button_tag('Edit Images', class:"button hollow", id: "edit-photos") %>
		</div>
	</div>
	<div class="row">
		<div class="upper-space under-space small-12 text-center columns">
			<h5>Select images to apply desired action</h5>
		</div>
	</div>
	<div id="photos-container" class="row">
		<% @photos.each do |photo| %>
			<div class="upper-space small-4 text-center end columns">
				<%= image_tag(photo.file.url(:medium),id: photo.id) %>
				<%= check_box_tag('photo', photo.id , false) %>
			</div>
		<% end %>
	</div>
</div>
