<div id="select-photos" class="upper-pad under-pad row">
	<div class="row">
		<h1>Selected only <%= @number_photos %></h1>
		<div class="small-12 text-center columns">
			<%= button_tag('Upload Selected Images', class:"button pay", id: "select-multiple-photos") %>
		</div>
	</div>
	<div class="row">
		<% @photos.each do |photo| %>
			<div class="upper-space small-4 text-center end columns">
				<%= image_tag(photo.file.url(:medium),id: photo.id) %>
				<%= check_box_tag('select_photo', photo.id , false) %>
			</div>
		<% end %>
	</div>
</div>