<h1>Photos Instagram</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (0..@max_num).each do |i| %>
    	<tr>
        <td><%= image_tag(@results["data"][i]["images"]["standard_resolution"]["url"]) %></td>
      </tr>
		<% end %>
  </tbody>
</table>