<div id="gallery-import">
  <div class="upper-space under-space row">
    <div class="small-12 text-center columns">
      <h4>Instagram Photo Import</h4>
    </div>
  </div>
  <div id="photo-container" class="upper-pad under-pad row">
    <% (0..@max_num).each do |i| %>
      <div class="upper-space small-4 text-center end columns">
        <%= image_tag(@results["data"][i]["images"]["standard_resolution"]["url"], class:"yes", id:"photo-#{i}") %>
        <%= check_box_tag :photo_instagram, @results['data'][i]['images']['standard_resolution']['url'] %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="small-12 text-center columns">
      <%= button_tag "Import Photos", class: "button" , id: "import_instagram" %>
    </div>
  </div>
</div>

