<div id="gallery-import">
  <div class="upper-space under-space row">
    <div class="small-12 text-center columns">
      <h4>Facebook Photo Import</h4>
    </div>
  </div>
  <div id="photo-container" class="upper-pad under-pad row">
   <% @photos.each do |photo| %>
    <div class="upper-space small-4 text-center end columns">
      <%= image_tag(photo) %>
      <%= check_box_tag :photo_facebook, photo %>
    </div>
    <% end %>
    <div class="row">
      <div class="small-12 text-center columns">
        <%= button_tag "Import Photos", class: "import_facebook button" %>
      </div>
    </div>
  </div>
</div>
