<h1>Photos Facebook</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag(photo["picture"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>