<div id="gallery-import">
  <div class="upper-space under-space row">
    <div class="small-12 text-center columns">
      <h4>Google Photo Import</h4>
    </div>
  </div>
  <div id="photo-container" class="upper-pad under-pad row">
   
    <div class="row">
      <div class="small-12 text-center columns">
      </div>
    </div>
  </div>
</div>