<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sortyu Welcomes you, <%= @affiliate.full_name %>.</h1>
    <p>
      Thanks for being part of this enjoyable web application.<br>
      We hope you have a great experiencie at Sortyu. <br>
      Have a good day.
    </p>
  </body>
</html>
