<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @photo.user.full_name %></h1>
    <p>
      Your photo has been approved.<br>
      We hope that you're enjoying Sortyu.
    </p>
  </body>
</html>
