<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><b>Reply to: </b><%= @email %></h4>
    <p><b>Message subject:</b><%= @subject %></p>
    <p><b>Message:</b></p>
    <p><%= @message %></p>
  </body>
</html>