// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rect {
	border: 2px solid #3399ff;
	position: absolute;

	span{
		color:white;
		font-weight:600;
		font-size:1.5em;

	}

	span:hover{
		cursor:pointer;
	}
}

.rect:hover{
	cursor:pointer;
}

.rect-clicked{
	border:thin solid black;
	border-radius:5px;
	background-color:#3399ff;
	padding-top:0.6em;
	opacity:0.5;
}

.button.like{
	// background-color:#3399ff;
	.fa-thumbs-o-up{
		margin-right:0.8em;
	}

	#show-like{
		padding: 0.2em 0.4em;
		background-color:#3399ff;
	}
}

#user-name-container{
	a{
		h6{
			color:black;

		}

		h6:hover{
			text-decoration:underline;
		}
	}
}