<p>Welcome <%= @email %>!</p>
<p>Please click the following link to activate your Sortyu account</p>
<p><%= link_to 'Activate Account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>If you didn't create a Sortyu account please ignore this email</p>
