<% if current_user.followers.count > 0 %>
	<% current_user.followers.each do |follower| %>
		<div class="follow-container">
			<%= link_to profile_other_user_show_path(follower.id) do %>
				<h6>
					<%= follower.username %>
				</h6>
				<h6 class="name">
					<%= follower.first_name %>
				</h6>
			<% end %>
		</div>
	<% end %>
<% else %>
	<h4>No one is currently following you</h4>
<% end %>
