<% if current_user.following.count > 0 %>
	<% current_user.following.each do |following| %>
		<ul>
			<li><%= following.username %></li>
		</ul>
	<% end %>
<% else %>
	<h4>You're not following anyone yet</h4>
<% end %>
