<% if @user.followers.count > 0 %>
	<% @user.followers.each do |follower| %>
		<ul>
			<li>
			<%= link_to profile_other_user_show_path(@photo.user_id) do %>
				<%= follower.username %></li>
			<% end %>
		</ul>
	<% end %>
<% else %>
	<h4>No one is currently following you</h4>
<% end %>
