<% if @user.followers.count > 0 %>
	<ul>
		<% @user.followers.each do |follower| %>
			<li>
				<%= link_to profile_other_user_show_path(follower.id) do %>
					<%= follower.username %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<h4>No one is currently following you</h4>
<% end %>
