<% if @user.followers.count > 0 %>
	<% @user.followers.each do |follower| %>
		<ul>
			<li><%= follower.username %></li>
		</ul>
	<% end %>
<% else %>
	<h4>No one is currently following you</h4>
<% end %>
