<% if @user.following.count > 0 %>
	<% @user.following.each do |following| %>
		<div class="follow-container">
			<%= link_to profile_other_user_show_path(following.id) do %>
				<h6>
					<%= following.username %>
				</h6>
				<h6 class="name">
					<%= following.first_name %>
				</h6>
			<% end %>
		</div>
	<% end %>
<% else %>
	<h4><%= @user.full_name %> is not following anyone yet</h4>
<% end %>
