<%= form_for(@user, url: wizard_path, method: :put) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
	</div>
  <%= f.submit 'Next', class: "button" %>
<% end %>