<div class="upper-space row">
	<div class="upper-space small-12 text-center columns">
		<h4>Thanks, you paid <strong> <%= humanized_money_with_symbol Price.last.value * @count %></strong> !</h4>
	</div>
</div>