<div id="charges-new" class="row">
	<div class="upper-space under-space small-12 text-center columns">
		<div class="under-space row">
  			<h4>Image Payment</h4>
  		</div>
  		<%= render 'form' %>
	</div>
</div>
