<footer class="under-pad upper-pad row expanded">
	<div class="small-12 columns">
		<ul>
			<li><%= link_to "Terms and Conditions",pages_terms_and_conditions_path %></li>
			<li><%= link_to "Privacy", pages_privacy_path %></li>
			<li></li>
		</ul>
	</div>
	<div class="upper-space small-12 columns">
		<span>- V 0.3.5 -</span>
	</div>
</footer>
