<footer class="under-pad upper-pad row expanded">
	<div class="small-12 columns">
		<ul>
			<li><%= link_to "Terms and Conditions",pages_terms_and_conditions_path %></li>
			<li><%= link_to "Privacy", pages_privacy_path %></li>
			<li><%= link_to "About Us", pages_about_us_path %></li>
			<li><%= link_to "Contact Us", pages_contact_us_path %></li>
		</ul>
	</div>
	<div class="upper-space small-12 columns">
		<h6>SORTYU, LLC &copy; 2017</h6>
		<span>- V 0.4.1 -</span>
	</div>
</footer>
