<header>
    <div class="top-bar">
        <div class="top-bar-title">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <strong><%= link_to "Sortyu", root_path %></strong>
        </div>
        <div id="responsive-menu">
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <button type="button" data-toggle="menu"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                        <div class="dropdown-pane" id="menu" data-dropdown data-hover="true" data-hover-pane="true">
                            <div class="row">
                                <div class="small-4 columns text-center">
                                    <%= link_to profile_show_path do %>
                                        <div class="row">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            
                                        </div>
                                        <div class="row">
                                            <span>Profile</span>
                                        </div>
                                    <% end %>
                                </div> 
                                <div class="small-4 columns text-center">
                                    <%= link_to root_path do %>
                                        <div class="row">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                                        <div class="row">
                                            <span>Sort</span>
                                        </div>
                                    <% end %>
                                </div>   
                                <div class="small-4 columns text-center">
                                    <%= link_to destroy_user_session_path, method: :delete do %>
                                        <div class="row">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </div>
                                        <div class="row">
                                            <span>Log-Out</span>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
