<h1>New Justification</h1>

<h3>Flags</h3>
<table>
  <thead>
    <tr>
      <th>Reason</th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.reason %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'form', justification: @justification %>
